/* App.css */

.header {
  position: relative;
  width: 160%;
  height: 80vh;
  overflow: hidden;
  margin: 0;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  padding: 4;
  width: 100%;
}

.button {
  margin: 1;
  background-color: transparent;
}
